#home {
    background-image: url("../../../assets/Welcome_home.png");
    height: 100vh;
    width: 100vw;
    background-size: cover; /* This ensures the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    display: flex;
    justify-self: center;
    align-items: center;
}
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}
.home-content h1{
    font-size: 3rem;
    color: #fff;
    text-align: center;
}
.home-content-paragraph{
    width: 50%;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    text-align:justify;
}
.join-us{
    background-color: transparent;
    color: #fff;
    padding-right:76px;
    padding-left: 76px;
    border-radius: 5%;
    border: 2px solid #fff;
    font-size: 36px;
    margin-right: 20px;
}
.learn-more{
    background-color: #fff;
    color: #043875;
    padding-right:40px;
    padding-left: 40px;
    border-radius: 5%;
    border: 2px solid #fff;
    font-size: 36px;
    margin-left: 20px;

}
.home-content-buttons{

    display: flex;
    justify-content: center;
    width: 50%;
}
@media screen and (max-width: 991px) {
    
    .home-content-paragraph{
        width: 80%;
    }
    .home-content-buttons{
        width: 80%;
    }
    .home-content h1{
        font-size: 2rem;
    }
    .home-content-paragraph{
        font-size: 1rem;
    }
    .join-us{
        font-size: 1rem;
    }
    .learn-more{
        font-size: 1rem;
    }
}